# Configuration files
data_paths.jl

# Julia
*.jl.*.cov
*.jl.cov
*.jl.mem
Manifest.toml
/Manifest.toml
/docs/Manifest.toml
/examples/Manifest.toml
/notebooks/Manifest.toml
/profiling
/test/Manifest.toml

# Large files to be downloaded outside of git
/data/solar_line_list_espresso.csv
/data/large
/data/horizons

# Output files
/output*

# Temporary files
tmp.jl
/examples*/output
/plots
/test/testdir

/scripts/*.pbs
/scripts/submit_make_manifests.sh
/scripts/manif_*.o*
/scripts/pbs_*
/scripts/ccf*.o*

# NExScI Archive
neidadmincookie.txt
nexsci_id.toml
password.jl

# Documenter
/docs/build/
/docs/site/

# Jupyter
/notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# MacOS
.DS_Store
.AppleDouble
.LSOverride
._*

# VScode
.vscode

# Plots
*.png

# Temporarily ignore until implement workaround
src/*.R
src/*.diff

# CCF Outputs
*_ccf.fits
test.fits

# Line-by-line fits outputs
*good_lines_fit_quant*.csv
